
<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
    <div class="container">
        <a class="navbar-brand" href="{{ path('homepage') }}">InitiaVille</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('homepage') }}">
                        <i class="fa fa-home"></i>
                        Accueil
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-tag"></i>
                        Catégories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{ render(controller('App\\Controller\\DefaultController::show_category')) }}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('city_index') }}">
                        <i class="fa fa-map-marker"></i>
                        Les Villes
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i>
                        Profil
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="profile.html">
                            <i class="fa fa-user"></i>
                            Mon Compte
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fa fa-sign-out"></i>
                            Déconnexion
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>




