{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}


{% block body %}


        <div class="jumbotron">
            <h1 class="display-4">InitiaVille</h1>
            <p class="lead">Proposez des initiatives pour améliorer la vie en ville.</p>
            <a class="btn btn-primary btn-lg" href="cities.html" role="button">
                <i class="fa fa-map-marker"></i>
                Voir les villes
            </a>
                {% if app.user %}
            <a class="btn btn-primary btn-lg" href="{{ path('project_new') }}" role="button">
                <i class="fa fa-plus-circle"></i>
                Proposer un nouveau projet
                {% endif %}
            </a>

        </div>

        <h2>Les derniers projets</h2>


        <div class="row row-cols-1 row-cols-md-3">
    {% for project in projects %}
        {{ include('default/_card.html.twig') }}
    {% endfor %}
        </div>

{% endblock %}
