
<main class="main-content container">

    <h2>Projet de la catégorie "Loisir"</h2>

    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card">
                <img src="uploads/projects/boite-a-lire.jpg" class="card-img-top" alt="Boîte à lire">
                <div class="card-body">
                    <h5 class="card-title">Boîte à lire</h5>
                    <p class="card-text">Permettre l'échange de livre entre particuliers.</p>
                    <a href="#" class="btn btn-primary">
                        <i class="fa fa-eye"></i>
                        Voir plus
                    </a>
                </div>
                <div class="card-footer">
                    <span class="badge badge-pill badge-primary" title="Catégorie">
                        <i class="fa fa-tag"></i>
                        Loisir
                    </span>
                    <span class="badge badge-pill badge-secondary" title="Ville">
                        <i class="fa fa-map-marker"></i>
                        Rennes
                    </span>
                    <span class="badge badge-pill badge-info" title="Date de proposition">
                        <i class="fa fa-calendar"></i>
                        02/05/2020
                    </span>
                    <span class="badge badge-pill badge-warning" title="Coût du projet">
                        <i class="fa fa-euro"></i>
                        3000
                    </span>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="uploads/projects/cinema-plein-air.jpg" class="card-img-top" alt="Cinéma en plein air">
                <div class="card-body">
                    <h5 class="card-title">Cinéma en plein air</h5>
                    <p class="card-text">Proposer des séances de cinéma en plein 2 soirs par semaine.</p>
                    <a href="#" class="btn btn-primary">
                        <i class="fa fa-eye"></i>
                        Voir plus
                    </a>
                </div>
                <div class="card-footer">
                    <span class="badge badge-pill badge-primary" title="Catégorie">
                        <i class="fa fa-tag"></i>
                        Loisir
                    </span>
                    <span class="badge badge-pill badge-secondary" title="Ville">
                        <i class="fa fa-map-marker"></i>
                        St Malo
                    </span>
                    <span class="badge badge-pill badge-info" title="Date de proposition">
                        <i class="fa fa-calendar"></i>
                        19/04/2020
                    </span>
                    <span class="badge badge-pill badge-warning" title="Coût du projet">
                        <i class="fa fa-euro"></i>
                        25 000
                    </span>
                </div>
            </div>
        </div>
    </div>

</main>

<footer class="footer">
    <div class="container">
        <span class="text-muted">InitiaVille</span>
    </div>
</footer>

<script src="bundle.js"></script>
