{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}

    <div class="row row-cols-1 row-cols-md-3">
        {% for project in projects %}
            {{ include('default/_card.html.twig') }}
        {% endfor %}
    </div>


{% endblock %}
